.sidebar {
  padding: 110px 0px 0px 0px;
  background-color: #1f371f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.sidebar .titles:not(:first-child) {
  padding: 15px 0px 0px;
}

/* Tag Leaderboard */

.tags {
  color: white;
  border: solid white 2px;
  border-radius: 2px;
  text-align: center;
  width: 75%;
}

.tags table {
  width: 100%;
}

.tagBoard th {
  padding: 0 15px;
}

.tagBoard tr {
  border-bottom: 2px solid white;
}

.tags tr:last-child {
  border-bottom: none;
}

/* Next Event */

.nextEvent {
  border: solid white 2px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
}

.nextEvent span {
  font-size: 20px;
  align-self: center;
}

.nextEvent p {
  font-size: 16px;
}

/* This Visit Disc */
.thisVisitDisc {
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 75%;
}

.discData a {
  text-decoration: none;
  color: white;
  font-size: 16px;

  p {
    margin-bottom: 0px;
  }

  .name {
    font-size: 1.3em;
  }

  .specs {
    gap: 10px;
  }

  .brand {
    font-size: 1.3em;
  }
}

.discData img {
  padding: 5px;
  width: 98%;
}

@media screen and (max-width: 992px) {
  .sidebar .titles {
    font-size: 1em;
  }
  .sidebar .tags {
    font-size: 0.8em;
  }

  .discData a {
    font-size: 0.75em;
  }
}
