body {
  padding-top: 0px;
}

/* Different Disc List */

.listOfDiscs {
  display: none;
}

.listMyDiscs {
  display: none;
}

.active {
  display: flex;
}

/* Individual Disc Data */

.discData {
  border: 2px solid black;
}

.discData a {
  text-decoration: none;
  color: black;
}

.discData img {
  width: 100px;
}
