body {
  padding-top: 0px;
}

.view {
  overflow: auto;
  display: flex;
  justify-content: center;
}

/* Different Disc List */

.listOfDiscs {
  display: none;
}

.listMyDiscs {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  /* flex-flow: column wrap; */
}

.discList {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

/* Individual Disc Data */

.discData {
  border: 2px solid black;
}

.discData a {
  text-decoration: none;
  color: black;
}

.discData img {
  width: 100px;
}

/* Toggle Work */

.toggle-header {
  cursor: pointer;
}

.toggle-content {
  display: none;
}
